<header class="jumbotron">
    <h1 class="title">My Note App</h1>
</header>
<section class="content">
    <div class="panel panel-primary">
        <div class="panel-heading panel-font">List of Notes</div>
        <div class="panel-body">
            <input ng-if="notes.length>0" class="roundedCorner" type="text" name="search" placeholder="Search.." ng-model="query">
            <span ng-if="notes.length==0"><b>Click on Add button to add a note</b></span>
            <a class="btn btn-info" href="#/newNote"> Add </a>
            <br>
            <br>
            <ul>
                <li ng-repeat="note in notes | filter:query">
                    <i class="fa fa-trash btn" ng-click="delete(note)"
                       style="background-color: {{note.color}}"></i>
                    <a class="stickyNote" href="#/note/{{note._id}}" style="background-color: {{note.color}}">
                        <h2><b>{{ note.title}}</b></h2>
                        <p class=" wordWrap">{{note.text.substring(0, 100)}}
                            <span ng-if="note.text.length>100">...</span>
                        </p>
                    </a>

                </li>
            </ul>


        </div>
    </div>

</section>
